@import url('https://fonts.googleapis.com/css2?family=Marck+Script&display=swap');

:root{
    --success-color:#2ecc71;
    --error-color:red;
}

*{
box-sizing: border-box;
}

h2{

    text-align: center;
    margin: 0 0 20px;
}

body{
    background-color: #abdbe3;
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container{
    background-color: #eeeee4;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 3);
    width: 400px;
    
}

.form {

    padding: 30px 40px;
}

.form-control {

    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-control{
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.form-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.form-control input:focus {
outline: 0;
border-color: #777;

}

.form-control.success input{
    border-color: #2ecc71;
}

.form-control.error input{
    border-color: red;
}

.form-control small {
    color: red;
    position:absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
    display: none;
}

.form-control.error small{
    visibility: visible;
}

.form button{
    cursor: pointer;
    background-color: #d6cd7c;
    border: 2px solid #d6cd7c;
    border-radius: 4px;
    color: fff;
    display: block;
    font-size: 10px;
    margin-top: 20px;
    width: 100%;

}